<div fxLayout="column wrap" style="height:100vh;
        width:100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;background-image:url(&apos;assets/Web/Resource/loginBackground.jfif&apos;);" fxLayoutAlign="space-around center" [fxShow]="true">
  <h1 style="color: white;
        font-size: 64px;
        font-family: Seaweed Script;
        font-weight: 400;">
    Jwellery
  </h1>
  <div style="border-radius:15px;
        
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 90%;
        max-width: 350px !important;
        padding: 30px 40px 60px 40px !important;
        max-height: 400px !important;
        @media (min-width: 768px) {            
              width: 40%;
          }">
    <form #loginForm="ngForm" (ngSubmit)="login($event)">
      <div fxLayout="column wrap" style="height:100%" fxLayoutAlign="space-around center" [fxShow]="true">
        <h2 style=" font-weight:700;
        color:black;
        margin-bottom:10px;
        font-size:20px;">
          LOGIN</h2>
        <p id="loginError" style="color:red;"> </p>
        <mat-form-field style="display:block !important; margin:5px 0px !important;
        
        width:auto !important;
        display: block;
        border: 1px solid black !important;
        width: 100% !important;
        padding:14px !important;
        padding-left: 30px !important;
        border-radius: 10px !important;
        margin-top: 20px !important;
        font-weight: 700 !important;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.credentials.EmployeeId" name="EmployeeId" type="text" placeholder="Enter" [required]="true" #EmployeeID="ngModel">
          <mat-error align="start" *ngIf="EmployeeID.errors?.required &amp;&amp; EmployeeID.touched &amp;&amp; EmployeeID.dirty">Employee id is required</mat-error>
        </mat-form-field>
        <mat-form-field style="display: block !important; margin:5px 0px !important;width: auto !important;  display: block;
        
        border: 1px solid black !important;
        width: 100% !important;
        padding:14px !important;
        padding-left: 30px !important;
        border-radius: 10px !important;
        margin-top: 20px !important;
        font-weight: 700 !important;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.credentials.Password" name="Password" type="password" placeholder="Enter" [required]="true" minlength="8" #Password="ngModel">
          <mat-error align="end" *ngIf="Password.errors?.minlength &amp;&amp; Password.touched &amp;&amp; Password.dirty">password must be at least 8 character</mat-error><mat-error align="start" *ngIf="Password.errors?.required &amp;&amp; Password.touched &amp;&amp; Password.dirty">Password must be required</mat-error>
        </mat-form-field>

        <button mat-button style="margin-left: auto !important;
        text-decoration: underline !important;
        padding-right: 0px !important;
        margin-bottom: 10px !important;">Forgot Password?</button>

        <button mat-button style="background-color:#e7a960;
        border-radius: 10px !important;
        width: 100%;
        color: white;
        height: 50px;" [disabled]="loginForm.invalid" type="submit">NEXT</button>

      </div>
    </form>
  </div>
</div>